
body {text-align:center;}

nav{background-color: steelblue; padding: 10px;}

a{
    color: white;
    margin: 40px
    
}
h1, h2{
    color: steelblue;
}
img{
    width: 800px;
    border: 4ps solid steelblue
}
p {
    padding: 10px;
}
#active{
    background-color: white;
    color: steelblue;
}